streamlit
python-docx
PyMuPDF
markdown
requests
openai
python-dotenv
google-generativeai
beautifulsoup4
google-genai
sentence-transformers
numpy==2.2.3
spacy<3.8
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
